body{
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.box-1{
    width: 150px;
    height: 200px;
    border: 1px solid #f00;
    padding: 4px;
    /* 透视 */
    perspective: 1000;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.box-1>div{
    width: 140px;
    height: 198px;
    background-color: #f9c;
    margin: auto;
    transition: all .5s;
}
.box-1:hover > div{
    transform: rotateX(45deg);
}

.cube{
    width: 400px;
    height: 400px;
    /* border: 1px solid #f00; */
    margin: 30px auto;
    /* 让转换的子元素保留3D转换： */
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(30deg);
    position: relative;
    animation: rotate 6s linear infinite;
}
.cube > div{
    /* backface-visibility:hidden; */
    width: 400px;
    height: 400px;
    font-size: 80px;
    text-align: center;
    line-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: .8; */
    transition: all 1s linear;
}
.front{
    background-color: #f0f;
    transform: translateZ(200px);
}
.back{
    background-color: #23f388;
    transform:  translateZ(-200px) rotateY(180deg);
}
.top{
    background-color: #7254e4;
    transform: translateY(-200px) rotateX(90deg);
}
.bottom{
    background-color: #f24448;
    transform: translateY(200px) rotateX(-90deg);
}
.left{
    background-color: #f2d448;
    transform: translateX(-200px) rotateY(-90deg);
}
.right{
    background-color: #2fddd8;
    transform: translateX(200px) rotateY(90deg);
}

@keyframes rotate{
    from{
        transform: rotateX(-30deg) rotateY(30deg);
    }
    to{
        transform: rotateX(-30deg) rotateY(390deg) rotateZ(360deg);
    }
}
.cube:hover .front{
    transform: translateZ(400px) rotate(360deg);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    left: 50px;
    top: 50px;
}





.front1{
    transform: translateZ(200px);
    background-color: #23f388;
}
.back1{
    transform: translateY(-200px) rotateX(90deg);
    background-color: #f0f;
}
.top1{
    background-color: #7254e4;
    transform:  translateZ(-200px) rotateY(180deg);
}
.bottom1{
    background-color: #f24448;
    transform: translateX(-200px) rotateY(-90deg);
}
.left1{
    background-color: #f2d448;
    transform: translateY(200px) rotateX(-90deg);
}
.right1{
    background-color: #2fddd8;
    transform: translateX(200px) rotateY(90deg);
}